*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding-top: 100px;
}


.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -2;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); 
  z-index: -1;
}

.herosection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.herocontent{
    text-align: center;
    position: absolute;
    top: 5%;
    width: 60%;
    color: #fff;
    padding: 30px;
}

.herocontent p{
    display: block;
    color: #82c976;
    font-size: 16px;
    font-family: 'BYekan';
    letter-spacing: 3.2px;
    margin-bottom: 10px;
    padding: 0;
}

.herocontent h1{
    font-size: 4rem;
    font-family: 'BYekanBold';
    letter-spacing: -2px;
}

.herocontent h2{
    font-size: 5rem;
    font-weight: 800;
    color: #82c976;
    letter-spacing: -2px;
    margin-bottom: 2.9rem;
     font-family: 'BYekanBold';
}

.herosection button{
    all: unset;
    color: #000;
    background-color: #FFF;
    padding: 12px 30px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}

