
header{
    position: relative;
    width: 94%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 40px;
    gap: 40px;
}

.logo-container{
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img{
    width: 100px;
}

.logo-container span{
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
}




